<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038013962840-k32btvddcbrnfr9ddusr0hq2o256dc99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038013962840-k32btvddcbrnfr9ddusr0hq2o256dc99</string>
	<key>API_KEY</key>
	<string>AIzaSyBAT8M3R6T8ZDRYmFaP88PxPLECMwEaGvs</string>
	<key>GCM_SENDER_ID</key>
	<string>1038013962840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locare</string>
	<key>PROJECT_ID</key>
	<string>locare-e09e6</string>
	<key>STORAGE_BUCKET</key>
	<string>locare-e09e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038013962840:ios:5b4abbf90e33bc57b1882d</string>
</dict>
</plist>